<!doctype html>
<html lang="{{ shop.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ shop.name }}</title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="theme-color" content="">

    {% if settings.favicon != blank and settings.favicon contains '.png' %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: 'master' }}" type="image/png" />
    {% elsif settings.favicon != blank and settings.favicon contains '.ico' %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: 'master' }}" type="image/x-icon" />
    {% endif %}

    {{ content_for_header }}

    {{ 'password.css' | asset_url | stylesheet_tag }}
</head>

<body class="template-password">

{{ content_for_layout }}

</body>
</html>
